<div class="footer section">
  <style>
    .footer {
      color: var(--on-surface-variant);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-block-start: 1px solid var(--outline-variant);
      padding-block-start: var(--space-4);
      gap: var(--space-3);
    }

    .social-link:where(:hover, :focus-visible) {
      text-decoration: underline;
    }

    .footer-text {
      opacity: 0.8;
    }
  </style>

  <div class="has-separator">
    <a href="#instagram" class="social-link" target="_blank">Instagram</a>

    <span class="separator"></span>

    <a href="https://linkedin.com/in/sadiq-novruzov-4ba941228" class="social-link" target="_blank">LinkedIn</a>

    <span class="separator"></span>

    <a href="https://github.com/sadiqnvv" class="social-link" target="_blank">GitHub</a>
  </div>

  <p class="footer-text body-medium">
    &copy; 2024 Spotify. Developed by Novruzov Sadiq
  </p>
</div>
